
registry=https://itsals.pkgs.visualstudio.com/_packaging/as.com-npm/npm/registry/
always-auth=true
@alaskaair:registry=https://itsals.pkgs.visualstudio.com/_packaging/as.com-npm/npm/registry/
@alaskaair:always-auth=true
//itsals.pkgs.visualstudio.com/_packaging/as.com-npm/npm/registry/:username=itsals
//itsals.pkgs.visualstudio.com/_packaging/as.com-npm/npm/registry/:_password=ALASKA_NPM_TOKEN
//itsals.pkgs.visualstudio.com/_packaging/as.com-npm/npm/registry/:email=ecomm_github_automtn@alaskaair.com
//itsals.pkgs.visualstudio.com/_packaging/as.com-npm/npm/registry/:always-auth=true