@alaskaair:registry=https://itsals.pkgs.visualstudio.com/_packaging/as.com-npm/npm/registry/ 
; begin auth token
//itsals.pkgs.visualstudio.com/_packaging/as.com-npm/npm/registry/:username=itsals
//itsals.pkgs.visualstudio.com/_packaging/as.com-npm/npm/registry/:_password=ALASKA_NPM_TOKEN
//itsals.pkgs.visualstudio.com/_packaging/as.com-npm/npm/registry/:email=corigan.simpson@alaskaair.com
//itsals.pkgs.visualstudio.com/_packaging/as.com-npm/npm/:username=itsals
//itsals.pkgs.visualstudio.com/_packaging/as.com-npm/npm/:_password=ALASKA_NPM_TOKEN
//itsals.pkgs.visualstudio.com/_packaging/as.com-npm/npm/:email=corigan.simpson@alaskaair.com
; end auth token
always-auth=true